*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-nav {
  padding: 20px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.App-nav ul {
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.App-nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.App-title {
  font-size: 1.5em;
}

.Wrapper {
  padding: 20px;
}

.MocksList {
  float: left;
  width: 50%;
}
.ResponsesList {
  float: left;
  width: 50%;
}

.form-block {
  margin-bottom: 15px;
}

.form-block label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.form-block input,
.form-block textarea,
.form-block button {
  width: 100%;
}

.form-block textarea {
  height: 200px;
  max-width: 100%;
}